<br><br>
<div class="mb20" fxLayout="row wrap" fxLayout.xs="column">
  <mat-card fxFlex="48">
    <h2>Total User</h2>
    <hr>
    <p>Total Counted User </p>

  </mat-card>
&nbsp;&nbsp;
  <mat-card fxFlex="48">
    <h2>Total Payment</h2>
    <hr>
    <p>Total Payment Amount</p>
  </mat-card>
</div>
<br><br><br>
<hr><br>

<div class="mb20"  fxLayout="row wrap" fxLayout.xs="column">
  <mat-card fxFlex="48">
    <h2>Reward Payment</h2>
    <hr>
    <p>Reward Amount Which given to user</p>
  </mat-card>
  &nbsp;&nbsp;
  <mat-card fxFlex="48">
   <h2>Total Profit</h2>
   <hr>
   <p> Profit Amount
     ("After giving reward owner get Profit")</p>
  </mat-card>
</div>