<!-- 
<nb-tabset>
    <nb-tab tabTitle={{tabtitle1}}>
        <div class="card">
            <div class="row">
                <div class="column3"><h4>Transaction Details </h4></div>
                <div class="column4">
                    <button nbButton status="success"  size="small" (click)="details()">View</button>
                </div>
            </div>       
            <hr>
            <header>
                <p><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong></p>
                <p><strong>Target User_Id1 :</strong></p>
                <p><strong>Target User_Id2 :</strong></p>
                
            </header>
            <hr>
            <body>
               <div class="row">
                   <div class="column1"><strong> {{tabtitle1}}</strong></div>
                   <div class="column2"><strong>"RewardAmount"</strong></div>
               </div>
            </body>
        </div>
    </nb-tab>

    <nb-tab tabTitle={{tabtitle2}}>
        <div class="card">
            <div class="row">
                <div class="column3"><h4>Transaction Details </h4></div>
                <div class="column4">
                    <button nbButton status="success"  size="small" (click)="details()">View</button>
                </div>
            </div>       
            <hr>
            <header>
                <p><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong></p>
                <p><strong>Target User_Id1 :</strong></p>
                <p><strong>Target User_Id2 :</strong></p>
            </header>
            <hr>
            <body>
               <div class="row">
                   <div class="column1"><strong> {{tabtitle2}}</strong></div>
                   <div class="column2"><strong>"RewardAmount"</strong></div>
               </div>
            </body>
        </div>
    </nb-tab>
    <nb-tab tabTitle={{tabtitle3}}>
        <div class="card">
            <div class="row">
                <div class="column3"><h4>Transaction Details </h4></div>
                <div class="column4">
                    <button nbButton status="success"  size="small" (click)=" details()">View</button>
                </div>
            </div>       
            <hr>
            <header>
                <p><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong></p>
                <p><strong>Target User_Id1 :</strong></p>
                <p><strong>Target User_Id2 :</strong></p>
            </header>
            <hr>
            <body>
               <div class="row">
                   <div class="column1"><strong> {{tabtitle3}}</strong></div>
                   <div class="column2"><strong>"RewardAmount"</strong></div>
               </div>
            </body>
        </div>
    </nb-tab>
    <nb-tab tabTitle={{tabtitle4}}>
        <div class="card">
            <div class="row">
                <div class="column3"><h4>Transaction Details</h4></div>
                <div class="column4">
                    <button nbButton status="success"  size="small" (click)=" details()">View</button>
                </div>
            </div>       
            <hr>
            <header>
                <p><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong></p>
                <p><strong>Target User_Id1 :</strong></p>
                <p><strong>Target User_Id2 :</strong></p>
            </header>
            <hr>
            <body>
               <div class="row">
                   <div class="column1"><strong> {{tabtitle4}}</strong></div>
                   <div class="column2"><strong>"RewardAmount"</strong></div>
               </div>
            </body>
        </div>
    </nb-tab>
    <nb-tab tabTitle={{tabtitle5}}>
        <div class="card">
            <div class="row">
                <div class="column3"><h4>Transaction Details</h4></div>
                <div class="column4">
                    <button nbButton status="success"  size="small" (click)="details()">View</button>
                </div>
            </div>       
            <hr>
            <header>
                <p><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong></p>
                <p><strong>Target User_Id1 :</strong></p>
                <p><strong>Target User_Id2 :</strong></p>
            </header>
            <hr>
            <body>
               <div class="row">
                   <div class="column1"><strong> {{tabtitle5}}</strong></div>
                   <div class="column2"><strong>"RewardAmount"</strong></div>
               </div>
            </body>
        </div>
    </nb-tab>
</nb-tabset> -->