.card{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    width: 75%;
    margin: 50px;

}
.row{
    display: flex;
}
.column1{
    float: left;
    width: 50%;
}
.column2{
    float: right;
    width: 50%;
    text-align: right;
}
.column3{
    text-align: center;
    // align-items: center;
    width: 100%;
}
.btn{
    background: green;
}
h4{
    color: #1976d2;
}

