<br>
<caption class="caption">Transaction History</caption>
<div class="rounded shadow-lg"  style="overflow-x:auto;">
    <table class="table-responsive bg-white p-2">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Plan Amount</th>
                <th>Reward Amount</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr *ngFor="let people of data">
                <td class="text-left">{{people.id}}</td>
                <td>{{people.username}}</td>
                <td>{{people.planamount}}</td>
                <td>{{people.rewardamount}}</td>
                <td>{{people.date}}</td>
            </tr>
        </tbody>
    </table>
</div>