table {
    width: 100%;
    font-family: arial, sans-serif;
    border-radius: 10%;
    
  }
  
  td{

    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px;
    width: 25%;  
  }
  th{
    border-bottom: 2px solid #ddd;
   
    padding: 15px;
    width: 25%;
  }
  tr:hover{
    background-color:#f5f5f5;
  }
  .caption{
    text-align: center;
  }
