<h5 style="color: #1976d2;">Pay Reward To User : </h5>
<hr>
<div class="card">
    <div class="row">
        <div class="column3"><h4>User Details </h4></div>
        <div class="column4">
            <!-- <button nbButton status="success"  size="small" (click)="view()">View</button> -->
        </div>
    </div>       
    <hr>
    <header>
        <p><strong>Bank details :</strong></p>
        <p><strong>Amount :</strong></p>
        <p><strong>Image (optional*) :</strong></p>
    </header>
    <hr>
    <body>
       <div class="row">
           <div class="column1"><strong>"PlanAmount"</strong></div>
           <div class="column2"><strong>"RewardAmount"</strong></div>
       </div>
    </body>
</div>